@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Work+Sans:wght@500&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
header{
    padding: 40px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.Game{
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    padding-left: 20px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 30px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}
.list{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding:10px 20px;
    flex-shrink: 0;
    gap:10px ;
    
}
/* navbar complete */

.Goat{
    margin: 0px;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 0; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%,transparent);
    
    text-transform: uppercase;
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    
}
.first-section{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 20px 200px 20px 240px; 
    background: gainsboro;
}

.text-play{
    justify-content: left;
    padding-top: 100px;
    text-align: justify; 
}
.image{
    width: 50%;
}

.image img{
    width: 550px;
    height: 500px;
}
 
.text-play p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-1{
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: 2px solid #FF42A5;
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 48px;
}
.btn-2{
    border-radius: 48px;
    border: 2px solid #4EC5F7;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 48px;
}
.relative-container{
    display: flex;
    padding:50px 200px 0px 0px;
    

}
.relative-text{
    position: relative;
    left: 80px;
    padding: 180px 0px 0px 200px; 
    text-align: right

}
.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.relative-text h1{
    font-size: 35px;
    font-style: normal;
    font-weight: 700;  
}
.position{
    position: relative;
    left: 150px;
    top: 250px;


}
.position img{
    width: 300px;
    height: 320px;
}
.position-image img{
    width: 480px;
    height: 500px
}